# Prerequisites

.vs/BBPDrive/config/applicationhost.config
.vs/BBPDrive/*
BBPDrive/bin/*
BBPDrive/obj/*
BBPDriveInstallerProject/Debug/*
ClassBBPIO/bin/*
ClassBBPIO/obj/*
DokanNet/bin/*
DokanNet/obj/*
